bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]ny[Cc]pu/

.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

.idea/
*.sln.iml

*.user
*.rsuser
*.suo
*.userprefs

*.log

Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json


docker-compose.override.yml

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tmp
*.bak
*.swp
